@import "tailwindcss";

@theme {
  /* Background */
  --color-background-1: #e8e7e3;
}

@layer base {
  h1 {
    color: var(--color-deep-navy);
    font-size: var(--text-5xl);
    font-weight: var(--font-weight-bold);
  }

  h2 {
    color: var(--color-dusty-purple-gray);
    font-size: var(--text-3xl);
    font-weight: var(--font-weight-bold);
  }

  h3 {
    color: var(--color-strong-dark-navy);
    font-size: var(--text-xl);
    font-weight: var(--font-weight-medium);
  }

  hr {
    width: 100%;
    border-top: 4px solid var(--color-muted-mauve);
    border-radius: 5px;
  }
}

@layer components {
  .wave {
    position: relative;
    overflow: hidden;
    z-index: 0;
  }

  .wave::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #b8b0c9;
    z-index: -1;
    transition: width 0.5s;
  }

  .wave:hover::before {
    width: 100%;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
